@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  h1.heading {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold leading-snug;
  }
  h2.heading {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold leading-snug;
  }
  h3.heading {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold leading-snug;
  }
  h4.heading {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium leading-snug;
  }
  h5.heading {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl font-medium leading-snug;
  }
  #section-5-background{
    @apply absolute bottom-0 left-0 right-0 bg-cover lg:bg-[url('/assets/bg-water.svg')] bg-no-repeat h-[300px] w-full
  }
  #section-6-background{
    @apply absolute top-[600px] left-0 right-0 bg-contain lg:bg-[url('/assets/bg-water-top-left.svg')] bg-no-repeat h-full w-[300px]
  }
  #section-6-background::after{
    @apply absolute bottom-0 right-0 bg-contain lg:bg-[url('/assets/bg-water-top-left.svg')] bg-no-repeat h-full w-[300px]
  }
}

