@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  h1.heading {
    @apply text-6xl font-bold;
  }
  h2.heading {
    @apply text-5xl font-bold;
  }
  h3.heading {
    @apply text-4xl font-medium;
  }
  #section-5 {
    @apply bg-[#F6F0E2];
  }
}
